* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: #3F538A;
    --cor2: #0E4AF0;
    --cor3: #3156BD;
    --cor4: #2C2E33;
    --cor5: #071C56;
    --cor6: #071c5662;
    
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

button.btn{
    padding: 5px;
    margin: 5px;
}

div#content{
}

#main{
}
